<div class="backcolor">
  <div class="container plan">
    
    
<%= simple_form_for [@training] do |f| %>
      <div class="form container">
        <div class="form-inputs">
          <%= f.input :name, :label => "What's your workout name?" %>
          <%= f.input :duration, :label => "What's the duration?" %>
          <%= f.input :category, collection: ["Sweat", "Flow"] %>
          <%# <%= f.input :rating, collection: 1..5, as: :radio_buttons %>

          <%= f.input :cat_list, as: :radio_buttons,
              collection_wrapper_tag: 'div',
              collection_wrapper_class: 'category-wrapper',
              item_wrapper_class: 'category-item',
              input_html: {class: 'category-selector'},
              :label => "Which criteria do you fulfil? (Choose as many you think)",
              as: :radio_buttons, collection: Training.all_cats %>

          <%= f.input :tag_list, as: :check_boxes,
              collection_wrapper_tag: 'div',
              collection_wrapper_class: 'category-wrapper',
              item_wrapper_class: 'category-item',
              input_html: {class: 'category-selector'},
              :label => "Which criteria do you fulfil? (Choose as many you think)",
              as: :check_boxes, collection: Training.all_tags %>

          <div class="">
          <%= f.input :video, as: :file,
              label: '📷    Workout video',
              as: :file %>
          </div>

          <div class="">
          <%= f.input :photos, as: :file,
              label: '📷    Workout picture',
              as: :file %>
          </div>
                 

          <div class="my-3" id="results">
            <%="Note: After clicking 'create', your workout will be added" %>
          </div>
        </div>
      </div>
      <%= f.submit "Create",  class:"btn btn-flat mt-5 col text-center" %>
    <% end %>


  </div>
</div>  