<div class="backcolor">

  <div class="banner-flow-category">
    <div class="container">
      <div class="text-center">
        <h1><%= @flow.name.upcase %></h1>
        <h2></h2>
        <%= link_to root_path do  %>
          <button type="submit" class="btn btn-flat buttoncategory col text-center">MY PLANS</button>
        <% end %>
      </div>
    </div>
  </div>

  <div class="container my-5">   
    <h2 class=""> Featured plans </h2> 
      <div class="">
        <% @plans.each_with_index do |plan, index| %>
          <div>
            <%= link_to plan_path(plan) do %>
              <%= render "plans/plans_card", plan: plan %>
            <% end %>
          </div>
        <% end %>
      </div>
    <h2 class="mt-5"> Quick start </h2> 
    <div class="mt-5">
      <% @trainings.each_with_index do |training, index| %>
        <div class="">
        <%= link_to training_path(training) do %>
          <%= render "trainings/trainings_card", training: training %>
        <% end %>
        </div>
      <% end %>
    </div>




  </div>
 
</div>