<div class="backcolor">

  <div class="banner-sweat-category">
    <div class="container">
      <div class="text-center">
        <h1><%= @sweat.name.upcase %></h1>
        <h2></h2>
        <%= link_to root_path do  %>
          <button type="submit" class="btn btn-flat buttoncategory col text-center">MY PLANS </button>
        <% end %>
      </div>
    </div>
  </div>
  <div class="container my-5">    

  
    <h2 class="subtitle"> Featured plans </h2> 
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <% @plans.each_with_index do |plan, index| %>
          <li data-target="#carouselExampleIndicators" data-slide-to="<%= index%>" class="<%= 'active' if index == 0 %>"></li>
        <% end  %>
      </ol>
      <div class="carousel-inner">
        <% @plans.each_with_index do |plan, index| %>
          <div class="carousel-item ml-100 <%= 'active' if index == 0 %>">
            <%= link_to plan_path(plan) do %>
              <%= render "plans/plans_card", plan: plan %>
            <% end %>
          </div>
        <% end %>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
    <h2 class="subtitle"> Quick start </h2> 
   <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <% @trainings.each_with_index do |training, index| %>
          <li data-target="#carouselExampleIndicators" data-slide-to="<%= index%>" class="<%= 'active' if index == 0 %>"></li>
        <% end %>
      </ol>
      <div class="carousel-inner">
        <% @trainings.each_with_index do |training, index| %>
          <div class="carousel-item ml-100 <%= 'active' if index == 0 %>">
          <%= link_to training_path(training) do %>
            <%= render "trainings/trainings_card", training: training %>
          <% end %>
          </div>
        <% end %>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>




  </div>
 
</div>

